body {
  min-width: 450px;
  min-height: 980px;
  margin: 0 auto;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.articles {
  padding: 10px;
}

  .articles h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .articles .meta-data {
    color: #666;
    font-size: 0.7rem;
    margin-top: -15px;
    text-align: center;
    font-weight: bold;
  }

  .articles p {
    padding: 10px;
  }