/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* Déclaration variable et police */
:root {
  /* couleur */
  --coulAlpha: rgb(26, 145, 26);
  --coulBeta: rgb(235, 224, 224);
  --coulDelta: rgb(202, 164, 164);
  --coulTexte: #333333;
}

/* 
@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
} */


/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Balise native/générique █▄██▄█ */
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--coulBeta);
  color: var(--coulTexte);
}

header, footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 100vw;
  background-color: var(--coulAlpha);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  background-color: var(--coulBeta);
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 10px;
}

h1, h2, label,span {text-align: center;}
p {text-align: justify;}


/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Header  █▄██▄█ */
header div.log {
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
  height: 80%;
}



/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Page Connexion  █▄██▄█ */
main.containerConnexion {
  border-radius: 20px;
}

main.containerConnexion form.formConnexion,
main.containerConnexion form.formNewUser {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  border-radius: 20px;
  padding: 20px;
}

main.containerConnexion form.formNewUser {display: none;}


/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Page Accueil  █▄██▄█ */
main.containerAccueil {
  width: 80%;
  justify-content: center;
}


/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Page Listing  █▄██▄█ */
main.containerListing {
  width: 40%;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}


/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Page Admin  █▄██▄█ */
main.containerAdmin {
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

main.containerAdmin div.containerActionAdmin {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 80%;
}

div.containerAdmin div.containerNew {
  display: flex;
  justify-content: center;
}

main.containerAdmin div.containerNew form {
  display: flex;
  flex-direction: column;
}

main.containerAdmin div.containerModDel form#formModArt {
  display: none;
}


/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Page 404  █▄██▄█ */
main.container404 {
  justify-content: center;
  align-items: center;
}

main.container404 p.textRed {
  font-style: italic;
  color: red;
}

main.container404 figure cite  {
  margin: 40px;
}