/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* Déclaration variable et police */
:root {
  /* couleur */
  --coulAlpha: rgb(26, 145, 26);
  --coulBeta: rgb(235, 224, 224);
  --coulDelta: rgb(214, 184, 184);
  --coulTexte: #333333;
}

/* 
@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
} */


/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Balise native/générique █▄██▄█ */
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--coulBeta);
  color: var(--coulTexte);
}

header, footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 100vw;
  background-color: var(--coulAlpha);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  background-color: var(--coulBeta);
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
} 

ul li {
  list-style: none;
  margin: 10px;
}

li:hover, button:hover, input[type=submit]:hover {
  cursor: pointer;
  transform: scale(1.1);
}

h1, h2, label,span, input, label, select {text-align: center;}
input, button, textarea, select {
  border-radius: 10px;
  cursor: pointer;
}

p {text-align: justify;} 
label, input[type=submit] {font-weight: bold;}



/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Header  █▄██▄█ */
header div.log {
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
  height: 80%;
}

header div.log span {
  font-weight: bold;
}

header nav input,
header div.log button {
  padding: 5px 10px;
}


/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Page Connexion  █▄██▄█ */
main.containerConnexion {
  border-radius: 10px;
  align-items: center;
  background-color: var(--coulAlpha);
}

main.containerConnexion form.formConnexion,
main.containerConnexion form.formNewUser {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  border-radius: 20px;
  padding: 10px 40px;
}

main.containerConnexion form.formNewUser {display: none;}

main.containerConnexion button {
  width: 50%;
  font-style: italic;
}

main.containerConnexion form.formConnexion input,
main.containerConnexion form.formNewUser input  {
  background-color: var(--coulBeta);
}

main.containerConnexion form.formConnexion input[type=submit],
main.containerConnexion form.formNewUser input[type=submit] {
  padding: 5px 10px;
}


/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Page Accueil  █▄██▄█ */
main.containerAccueil {
  width: 80%;
  justify-content: center;
}


/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Page Listing  █▄██▄█ */
main.containerListing {
  width: 60%;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

main.containerListing div.articles article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--coulTexte);
  border-radius: 5px;
  margin: 10px 5px;
  background-color: var(--coulDelta);
}

/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Page Admin  █▄██▄█ */
main.containerAdmin {
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

main.containerAdmin div.containerActionAdmin {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 80%;
}

main.containerAdmin div.containerNew,
main.containerAdmin div.containerModDel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid var(--coulTexte);
  background-color: var(--coulDelta);
  height: 95%;
  width: 30%;
  border-radius: 10px;
}

main.containerAdmin div.containerNew form {
  display: flex;
  flex-direction: column;
}

main.containerAdmin div.containerNew form input,
main.containerAdmin div.containerNew form label,
main.containerAdmin div.containerModDel form input,
main.containerAdmin div.containerModDel form label {
  margin: 5px 0px;
}

main.containerAdmin div.containerNew form input:last-child {
  margin: 15px 20px;
}

main.containerAdmin div.containerModDel div#containerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
} 

main.containerAdmin div#containerButton select {
  width: 60%;
} 

main.containerAdmin div#containerButton div:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  width: 90%;
}

main.containerAdmin div#containerButton form#formDelArt {
  width: 40%;
  justify-content: center;
  display: flex;
}

main.containerAdmin div#containerButton div:last-child button,
main.containerAdmin div#containerButton div:last-child form#DelArt  {
  width: 40%;
}

main.containerAdmin div#containerButton div:last-child button {
  font-weight: bold;
}

main.containerAdmin div.containerModDel form#formModArt {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

main.containerAdmin form#formModArt select, 
main.containerAdmin form#formModArt input {
  width: 100%;
  margin: 10px 0;
}

/* ╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩╔╩ */
/* █▄██▄█ Page 404  █▄██▄█ */
main.container404 {
  justify-content: center;
  align-items: center;
}

main.container404 p.textRed {
  font-style: italic;
  color: red;
}

main.container404 figure cite  {
  margin: 40px;
}